[Unit]
Description=mqtt2sispmctl
After=raspotify.service

[Service]
ExecStart=python3 -u mqtt2sispmctl.py
WorkingDirectory=/srv/mqtt2sispmctl
Restart=always
User=mqtt2sispmctl

[Install]
WantedBy=multi-user.target
